<div class="menu-container">
    <div class="row">
        <% 3.times do %>
        <% @listings.each do |listing| %>
        <div class="col-4">
            <h5><%=listing.title %></h5>
            <p><%= listing.description %></p>
            <span><%= listing.price_per_item %> | <%= product.available ? "Available" : "" %>
        </div>
        <% end %>
        <% end %>
    </div>
</div>
