<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
          <h1> This is the Host homepage</h1>
        </div>
        <div class="list-container">
          <div class="row">
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
    </div>
  </div>
</div>
