<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
        <h1>Host Setting</h1>
        </div>
        <div class="list-container">
          <div class="row">
            <div class='host-setting-form'>
                <%= link_to 'Delete your account', platform_hosts_path, :method => :delete %>
            </div>
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
    </div>
  </div>
</div>
