<h1>New order was created.</h1>
<h1>Order details</h1>
<p>Reference No : <%= @order.ref_no %></p>
<p>Item: <%= @order.listing.title %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>total: <%= @order.total %></p>
