<div class="col-8">
  <h1> Welcome To <br> The Hive Tuaran </h1>
  <br>
  <h2>Opening Hours</h2>
  <h3> Monday - Saturday </h3>
  <h3> 09 : 00 - 16 : 30 </h3>
  <h3> Sunday </h3>
  <h3> Closed </h3>
  <br><br><h2>Who are we?</h2>
  <h3> The Hive Tuaran was located in Tuaran, Sabah and have been established by 3 ladies since July 2020.
  Despite being in pandemic state, they still manage to further their dream in establishing the cafe.
  Their target market was for students</h3>
</div>
