<div class="container-fluid">
  <div class="content">
    <div class="row">
      <div class="col-2 sidebar">
      </div>
      <div class="col-8 main-content">
        <div class="header">
          <h1> This is the menu page</h1>
        </div>
        <div class="menu-container">
            <div class="row">
                <% @listings.each do |listing| %>
                <div class="col-6">
                    <h5><%=listing.title %></h5>
                    <p><%= listing.description %></p>
                    <span><%= listing.price_per_item %> | <%= listing.available ? "Available" : "" %>
                    <br>
                </div>
                <% end %>
            </div>
        </div>
      </div>
      <div class="col-2 sidebar">
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small special-color-dark pt-4 footer">
    <div class="container">
    <div class="row">
    <div class="col-md-6 mb-4">
      <form class="form-inline">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
      </div>
      <div class="col-md-6 mb-4">
        <form class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="Your email"
              aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
            </div>
          </form>

        </div>
    </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
  </footer>
</div>
